@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Rancho&family=Shadows+Into+Light&display=swap|Shadows+Into+Light|Rancho");

img {
  width: 100px;
  margin: 5px;
  border-radius: 4px;
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
  red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
  red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.order-button {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 7px 7px 7px 7px;
  margin-bottom: 30px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.mom-tumblers,
.can-coolers,
.misc-tumblers,
.teacher-tumblers,
.kid-tumblers,
.aztec-tumblers {
  background-color: #ef4765;

  border-radius: 12px;
  color: #ffffff;
  font-family: Shadows Into Light;
  font-size: larger;
  align-items: center;
  margin: 15px;
  padding: 7px;
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5px;
} 

.mom-imgs, .cooler-imgs, .teacher-imgs, .kids-imgs, .aztec-imgs, .misc-imgs {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  gap: 1em;
}

.geode, .caffeine-queen {
  height: 200px;
}

.teacher-set {
  height: 170px;
  width: 150px;
}



/* .card-grid {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  width: 500px;
  gap: 1rem;
  margin: 20px 20px 20px 45px;
  padding: 30px;
} */


.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border: #ff9a5a;
  height: 200px;
  width: 100px;
  transform: perspective(1000px) rotateY(var(--rotatate-y, 0))
      translateY(var(--translate-y, 0));
  transform-style: preserve-3d;
  transition: 150ms;
  background-color: #ff995a9e;
  margin: 20px 10px;
}

.card:hover{
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(255, 176, 72, 0.643);
  opacity: 1;
}

.card.flip{
  --rotate-y: 180deg;
}

.front {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;

}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  
  border-radius: 5px;
  padding: 4px;
}

.flip {
  transform: rotateY(180deg);
} 